
.nav-box {
    padding: 20px;
}
.navigation input {
    padding: 10px;

} 
.navigation button{
    width: 10%;
    border: none;
    padding: 12px;
    background-color: slateblue;
    color: white;
} 

#viewport-div{
    overflow-y: auto;
    height: 80vh;
}

#canvas {
    padding-top: 20px;
    margin: auto;
    display: block;
}