
.nav-box {
    padding: 15px;
}
.navigation {
    text-align: center;
}
.navigation input {
    padding: 10px;
    width: 50%;
    outline: none;
}
.navigation button {
    width: 10%;
    border: none;
    padding: 12px;
    font-weight: 700;
    background-color: #736CED;
    color: white;
    outline: none;
    transition: ease 0.3s;
}.navigation button:hover {
    background-color: #5149e9;
    cursor: pointer;
}.navigation button:active {
    transform: scale(0.95);
}

#viewport-container{
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    height: 80vh;
    width: 95vw;
    box-shadow: grey 0 0 10px;
    background-color:white;
}

#site-preview-frame {
    margin: auto;
    width: 100%;
    display: none;
}

body {
    background-color: #b3efd1;
}
